*{
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;  
    font-family:'Quicksand', sans-serif;
}

body {
    display: flex;
     flex-direction: column;
     min-height: 100vh;
     background-color: #095b91;
}

h1 {
    margin: 10px;
    height: 40px;
    margin-top: 0;
    padding: 20px 50px;
    position: absolute;
    cursor: default;
}

nav{
    width: 100%;
    height: 80px;
    background-color: #2596be ;
}
nav ul  {
    float: right;
    margin-right: 20px;
}
nav ul li {
    display: inline-block;
    line-height: 80px;
}

nav ul li a {
   text-transform: uppercase;
   padding: 7px 13px;
   font-size: 18px;
   border-radius: 3px;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   -ms-border-radius: 3px;
   -o-border-radius: 3px;
}
.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check {
    display: none;
}

@media (max-width : 952px) {
    h1{
        padding-left: 10px;
    }
    nav ul li a{
        font-size: 15px;
    }
}

@media (max-width : 858px) {
     .checkbtn{
        display: block;
     }
     nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2596be;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
}
    nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
    }
     nav ul li a{
    font-size: 20px;
     }
  nav li a:hover , nav li a.active {
    background: none;
    color: black;
   }
   #check:checked ~ ul{
    left: 0;

   }
}
nav li a.active, nav li a:hover{
    background-color: #095b91;
    transition-duration: 0.5s;

}

a:visited {
    color: white;
    display: block;
}

.pie-pagina {
    width: 100%;
    background-color: #2596be; 
    margin-top: auto;  
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 500px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 50px;
    padding: 20px 0;
    margin: auto;

}

.pie-pagina .grupo-1 .box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    
    align-items: center;
}



.pie-pagina .grupo-1 .box figure img {
    width: 250px;
    cursor: default; 
   
}

.pie-pagina .grupo-1 .box h2 {
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
   
    
}

.pie-pagina .grupo-1 .box .contacto-footer a{
    display: inline-block;
    width: 45px;
    height: 45px;
    line-height: 45px;
    font-size: 18px;
    font-weight: 500;
    color: white;
    margin-right: 10px;
    background-color: #02759e;
    text-align: center;
    border-radius: 3px;
    transition: all 0.5s ease ;
    -webkit-transition: all 0.5s ease ;
    -moz-transition: all 0.5s ease ;
    -ms-transition: all 0.5s ease ;
    -o-transition: all 0.5s ease ;
}
.pie-pagina .grupo-1 .box .contacto-footer p{
    text-align: center;
}
.pie-pagina .grupo-1 .box .contacto-footer i{
    padding: auto;
}
.contacto-footer ul li {
    display: inline-block;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    width: 45px;
    height: 45px;
    line-height: 45px;
    font-size: 18px;
    font-weight: 500;
    color: white;
    margin-right: 5px;
    background-color: #02759e ;
    text-align: center;
    border-radius: 3px;
    transition: all 0.5s ease ;
    -webkit-transition: all 0.5s ease ;
    -moz-transition: all 0.5s ease ;
    -ms-transition: all 0.5s ease ;
    -o-transition: all 0.5s ease ;
}

.pie-pagina .grupo-1 .red-social a:hover{
    background-color: #095b91;
    transition-duration: 0.5s;
}
.pie-pagina .grupo-1 .box .contacto-footer a:hover {
    background-color: #095b91;
    transition-duration: 0.5s;
}

   
.pie-pagina .grupo-2 {
    background-color: #02759e;
    padding: 15px 10px;
    text-align: center;
    color: white;
    
    
}

.pie-pagina .grupo-2 small{
    font-size: 15px;
   
}

/* Fin footer */
a:visited {
    color: white;
    display: block;
}



#menuRedes ul li a:hover {
    transition-duration: 0.5s;
    background-color: #2596be;
}




/* Inicio responsive footer */
 @media screen and (max-width : 858px) {

    .pie-pagina .grupo-1{
    width: 90%;
    grid-template-columns: repeat(1,1fr);
    grid-gap: 30px;
    padding: 35px 0px;
}
.pie-pagina .grupo-1 .box figure img {
    width: 170px;
    float: left;
    margin-right: 100px;
    cursor: default; 
}
 
 }